.about {
    padding: 40px 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about__banner {
    position: relative;
    height: 360px;
    width: 100%;
    background-image: url('../../assets/banner.jpeg');
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about__banner-text {
    color: white;
    text-align: left;
    padding-left: 4%;
    padding-top: 6%;
}

.about__banner-text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
}

.about__content-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}

.about__content {
    flex: 1 1 50%;
    padding: 20px 10px 20px 0;
    text-align: justify;
    max-width: 50%;
}

.about__content p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.77;
}

.about__images {
    flex: 1 1 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__images .image:nth-child(1),
.about__images .image:nth-child(2) {
    width: 30%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about__images .image:nth-child(3) {
    width: 30%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1160px) {
    .about__content-container {
        flex-direction: column;
        align-items: center;
        display: block;
    }

    .about__content, .about__images {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .about__content {
        padding: 20px 0;
    }

    .about__images {
        flex-wrap: wrap;
    }

    .about__images .image {
        width: 48%;
        height: 150px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .about__banner {
        height: 250px;
    }

    .about__banner-text h2 {
        font-size: 1.6rem;
    }

    .about__content-container {
        flex-direction: column;
    }

    .about__content, .about__images {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .about__images .image {
        width: 100%;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .about__banner {
        height: 200px;
    }

    .about__banner-text {
        padding-left: 0;
        text-align: center;
    }

    .about__banner-text h2 {
        font-size: 1.4rem;
    }

    .about__content-container {
        width: 100%;
    }

    .about__content p {
        font-size: 14px;
    }

    .about__images .image {
        width: 100%;
        height: 120px;
    }
}
